<div class="row full-width">
  <div class="columns">

    <div class="page-content">
      <h1 class="page-title font--section-heading">{{ page.title }}</h1>
      <div class="font--paragraph rte-content">
	      {{ page.content }}
	    </div>
    </div>

  </div>
</div>