{% comment %} Settings {% endcomment %}
{% assign similar_products_heading = section.settings.product-similar-products-heading %}
{% assign show_section = section.settings.product-similar-products-show %}
{% comment %} Variables {% endcomment %}
{% assign max_products = 4 %}

{% if show_section %}
  <div
    class="product-recommendations--root"
    data-product-id="{{ product.id }}"
    data-empty="false"
    data-max-products="{{ max_products }}"
    data-js-class="ProductRecommendations"
  >
    {% if recommendations.products_count > 0 %}
      {% if similar_products_heading != blank %}
        <div class="product-recommendations--header">
          <h2 class="product-recommendations--title font--section-heading">
            {{ similar_products_heading }}
          </h2>
        </div>
      {% endif %}

      <div class="product-recommendations--body">
        <div class="product-recommendations--body--container">
          {% for product in recommendations.products limit: max_products %}
            <div class="product-recommendations--item">
              {% include 'partial--product', view: 'grid' %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Product recommendations",
  "class": "section--product-recommendations",
  "settings": [
    {
      "type": "checkbox",
      "id": "product-similar-products-show",
      "label": "Show",
      "default": true,
      "info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)"
    },
    {
      "type": "text",
      "id": "product-similar-products-heading",
      "label": "Heading",
      "default": "You may also like"
    }
  ]
}
{% endschema %}