
<div class="mobile-nav--header">
  <div class="mobile-nav-close">
    {% include 'framework--icon', icon: 'cross' %}
  </div>
  <div class="mobile-nav-back">
    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
      <path d="M6.00016 0L7.41016 1.41L2.83016 6L7.41016 10.59L6.00016 12L0.000156403 6L6.00016 0Z" fill="#84DFDC"/>
    </svg>
    <span>Back</span>
  </div>
  {% if settings.search--show-in-header %}
    <div class="mobile-nav--search font--accent">
      <a href="/search">
        <span>{{ 'general.search.search' | t }}</span>
        {% include 'framework--icon', icon: 'search' %}
      </a>
      
    </div>
  {% endif %}  
</div>


<div class="mobile-nav--menu font--accent">

</div>




{% if settings.show_multiple_currencies %}
  <div class="mobile-nav--currency">
    <div class="currency-selector mobile">
      <div class="container">
        {% include 'snippet-currency-selector' %}
      </div>
    </div>
  </div>
{% endif %}